// Colors
$header-bg-color: #000000;
$header-color: #ffffff;
$button-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$button-color: #fe9013;
$button-hover: #e47209;
$button-active: #4b9200;
$button-disabled: #767474;
$text-color: #333b41;
$darker-text-color: #000000;
$card-bg-color: #ffffff;
$testimonials-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$footer-bg-color: #111115;
$footer-color: #ffffff;
$invalid-color: #d31414;
$default-color: #333b41;
$donate-pg-color: #ffffff;
$submit-bg-color: #f1f3f2;

//Viewports
$inner-wrapper-width: 1160px;
$big-desktop-width: 1600px;
$small-desktop-width: 1000px;
$tablet-width: 640px;
$mobile-width: 320px;