.button {
  width: 298px;
  height: 54px;
  background: $button-gradient;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: $header-color;
  line-height: 140%;
  cursor: pointer;

  &:hover {
    background: $button-hover;
  }

  &:active {
    background: $button-active;
  }

  &:disabled,
  &--disabled {
    background: $button-disabled;
  }
}