.navigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 58px;
  }
}

.navigation__link {
  text-decoration: none;
  color: $header-color;
  font-weight: 500;

  &:hover {
    color: darken($header-color, 30%);
  }

  &:active,
  &--current {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}