.page__main {
  @media (max-width: $tablet-width) {
    margin-top: 34px;
  }
}

.page__backstage {
  margin-bottom: 126px;

  @media (max-width: $small-desktop-width) {
    margin-bottom: 95px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.page__panda-wrapper {
  background-color: $header-bg-color;

  @media (max-width: $small-desktop-width) {
    height: 390px;
  }

  @media (max-width: $tablet-width) {
    height: 335px;
  }

  @media (max-width: $mobile-width) {
    height: 187px;
  }
}

.page__panda-img {
  margin: 0 auto;
  background-image: url("../assets/images/panda_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 385px;
  max-width: 1600px;

  @media (max-width: $small-desktop-width) {
    height: 390px;
  }

  @media (max-width: $tablet-width) {
    height: 335px;
  }

  @media (max-width: $mobile-width) {
    height: 187px;
    background-size: 700px 470px;
    background-position: top -135px left -130px;
  }

  &--donate-page {
    @media (max-width: $small-desktop-width) {
      background-size: 180%;
      background-position: center left -255px;
    }

    @media (max-width: $tablet-width) {
      background-size: 200%;
    }

    @media (max-width: $mobile-width) {
      background-size: 250%;
      background-position: center left -170px;
    }
  }
}

