.testimonials {
  position: relative;
  padding-top: 140px;
  padding-bottom: 179px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    width: 245px;
    height: 275px;
    bottom: 0;
    right: 0;
    background-image: url("../../assets/images/flower4_backstage.png");
    background-repeat: no-repeat;

    @media (max-width: $small-desktop-width) {
      width: 215px;
      height: 245px;
    }

    @media (max-width: $tablet-width) {
      background-size: 130px 200px;
      bottom: -111px;
      right: -95px;
    }

    @media (max-width: $mobile-width) {
      background-size: 60px 100px;
      bottom: -180px;
      right: -155px;
    }
  }

  @media (max-width: $small-desktop-width) {
    padding-top: 100px;
    padding-bottom: 140px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 29px;
    padding-bottom: 60px;
  }
}

.testimonials__wrapper {
  width: $inner-wrapper-width;
  margin: 0 auto;

  @media (max-width: $small-desktop-width) {
    width: $inner-small-desktop-wrapper;
  }

  @media (max-width: $tablet-width) {
    width: $inner-tablet-wrapper;
  }
}

.testimonials__header {
  font-size: 36px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 49px;
  font-weight: 400;
  text-align: center;

  @media (max-width: $small-desktop-width) {
    margin-bottom: 33px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.testimonials__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  list-style-type: none;

  @media (max-width: $small-desktop-width) {
    margin-bottom: 22px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 24px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.testimonials__card-wrapper {
  padding: 2px;
}

.testimonials__item {
  position: relative;
  width: 22.76%;
  height: 387px;
  background: #F1F3F2;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 13px 13px 17px 14px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;

  &::after {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: 391px;
    border-radius: 20px;
    background: $testimonials-gradient;
    z-index: -1;

    @media (max-width: $tablet-width) {
      height: 108px;
      width: calc(100% + 3px);
    }

    @media (max-width: $mobile-width) {
      left: -1px;
      height: 107px;
    }
  }

  &::before {
    position: absolute;
    content: '';
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-image: url("../../assets/icons/user_icon.svg");
    background-repeat: no-repeat;
    top: 15px;
    left: 15px;

    @media (max-width: $tablet-width) {
      left: 12px;
      top: 14px;
    }

    @media (max-width: $mobile-width) {
      left: 12px;
      top: 9px;
      padding-top: 12px;
    }
  }

  &--user-2::before {
    background-image: url("../../assets/images/user-2.png");
  }

  &--user-3::before {
    background-image: url("../../assets/images/user-3.png");
  }

  &--user-4::before {
    background-image: url("../../assets/images/user-4.png");
  }

  @media (max-width: $small-desktop-width) {
    width: 30.7%;

    &:last-child {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 104px;
    height: 104px;
    margin-bottom: 19px;
  }
}

.testimonials__name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2px;
  margin-left: 48px;

  @media (max-width: $small-desktop-width) {
    margin-left: 50px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 46px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 42px;
    margin-bottom: 0;
  }
}

.testimonials__capture {
  margin: 0;
  margin-left: 48px;
  margin-bottom: 7px;
  color: #BDBDBD;
  font-weight: 200;

  @media (max-width: $small-desktop-width) {
    margin-bottom: 9px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 43px;
    margin-bottom: 10px;
  }
}

.testimonials__place {
  position: relative;
  margin-right: 14px;

  &::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #BDBDBD;
    top: 7px;
    right: -8px;

    @media (max-width: $mobile-width) {
      top: 6px;
      right: -4px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-right: 10px;
  }
}

.testimonials__text {
  height: 306px;
  overflow: scroll;
  margin: 0;
  color: #767474;
  cursor: pointer;

  @media (max-width: 1300px) {
    height: 290px;
  }

  @media (max-width: $tablet-width) {
    height: 38px;
    margin-left: 5px;
  }
}

.testimonials__text::-webkit-scrollbar {
  width: 0;
  height: 0;
  padding: 0;
}

.testimonials__range-container {
  width: 603px;
  height: 10px;
  background: $testimonials-gradient;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (max-width: $small-desktop-width) {
    width: 398px;
    height: 7.5px;
    margin-bottom: 52px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.testimonials__range {
  width: 600px;
  height: 7px;
  appearance: none;
  box-sizing: border-box;
  background-color: #F5F7F6;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: $small-desktop-width) {
    width: 395px;
    height: 6px;
  }
}

.testimonials__range::-webkit-slider-thumb {
  appearance: none;
  border-radius: 5px;
  width: 115px;
  height: 6px;
  background: $button-color;
  cursor: pointer;

  @media (max-width: $small-desktop-width) {
    width: 75px;
  }
}

.testimonials__button {
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    display: block;
    width: 240px;
  }
}